<!DOCTYPE html>
<html lang="en">
<style>
</style>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Ramani Travels-Ticket</title>
 <!-- CSS  -->
 <link rel="stylesheet" type="text/css" href="/static/ramani/css/materialize.min.css">


  <link rel="stylesheet" href="/static/ramani_travels/css/materialize.min.css">

<link rel="icon" type="image/png" href="/static/ramani_travels/img/logo.jpg" sizes="16x16">
</head>
<body >
<center>
<font size="6">
<img src="/static/ramani_travels/img/logo.jpg" style="height:60px;">
<h1 class="center">Ramani Travels</h1>
  <hr/>
<table>
  <tr>
  <td>Email</td>
  <td>{{ email }}</td><br>
  </tr>
  <tr>
  <td>Depature_Station</td>    
  <td>{{ deapture_station }}</td>
  </tr>
  <tr>  
  <td>Arrival_Station</td>  
  <td>{{ arrival_station }}</td>
  </tr>
  <tr>  
  <td>Bus_No</td>    
  <td>{{ bus_no }}</td>
  </tr>
  <tr>  
  <td>Bus_type</td>    
  <td>{{ bus_type }}</td>
  </tr>
  <tr> 
   <td>Seat_No</td>
  <td>{{ seat_no }}</td>
  </tr> 
  <tr> 
   <td>Journey_Date</td>
  <td>{{ journey_date }}</td>
  </tr>
  <tr> 
   <td>Journey_Time</td>
  <td>{{ journey_time }}</td>
  </tr>
  <tr> 
   <td>Payment</td>
  <td>1200.RS</td>
  </tr>        
</table><br>
<hr/><br>
<div class="center">Keep This Document With Passanger At Depature_Station</div>
<b><div>Copyright © 2019 RAMANI TRAVELS. All Right Reserved.</div></b>
</center>
</body>
</html>
