<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/admin/css/materialize.min.css">
<link rel="icon" type="image/png" href="/static/admin/img/admin.png" sizes="16x16">
  <style type="text/css">
    @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/static/admin/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
  	header,
	main,
	footer {
	  padding-left: 240px;
	}

	body {
	  backgroud: white;
	}

	@media only screen and (max-width: 992px) {
	  header,
	  main,
	  footer {
	    padding-left: 0;
	  }
	}

	#credits li,
	#credits li a {
	  color: white;
	}

	#credits li a {
	  font-weight: bold;
	}

	.footer-copyright .container,
	.footer-copyright .container a {
	  color: #BCC2E2;
	}

	.fab-tip {
	  position: fixed;
	  right: 85px;
	  padding: 0px 0.5rem;
	  text-align: right;
	  background-color: #323232;
	  border-radius: 2px;
	  color: #FFF;
	  width: auto;
	}
  </style>
</head>

<body>

  <ul id="slide-out" class="side-nav fixed z-depth-2">
    <li class="center no-padding">
      <div class="indigo darken-2 white-text" style="height: 180px;">
        <div class="row">
          <img style="margin-top: 5%;" width="100" height="100" src="/static/admin/img/admin.png" class="circle responsive-img" />

          <p style="margin-top: -13%;">
            {{ admin }}
          </p>
        </div>
      </div>
    </li>

    <li id="dash_dashboard"><a class="waves-effect" href="/admin/"><b>Dashboard</b></a></li>

    <ul class="collapsible" data-collapsible="accordion">
      <li id="dash_users">
        <div id="dash_users_header" class="collapsible-header waves-effect"><b>Database <i class=' material-icons right'>arrow_drop_down</i></b></div>
        <div id="dash_users_body" class="collapsible-body">
        <ul>
            <li>
              <a class="waves-effect" style="text-decoration: none;" href="{% url 'customer_view' %}">Customer</a>
            </li>
            <li>
              <a class="waves-effect" style="text-decoration: none;" href="{% url 'book_view' %}">Book</a>
            </li>
            <li>
              <a class="waves-effect" style="text-decoration: none;" href="{% url 'bus_view' %}">Bus</a>
            </li>            
            <li>
              <a class="waves-effect" style="text-decoration: none;" href="{% url 'route_view' %}">Route</a>
            </li>                        
            <li>
              <a class="waves-effect" style="text-decoration: none;" href="{% url 'time_table_view' %}">Time-Table</a>
            </li>            
            <li>
              <a class="waves-effect" style="text-decoration: none;" href="{% url 'waiting_view' %}">Waiting</a>
            </li>     
            <li>
              <a class="waves-effect" style="text-decoration: none;" href="/admin/cancellation">Cancellation</a>
            </li>                             
          </ul>
        </div>
      </li>
    </ul>
    <ul class="collapsible" data-collapsible="accordion">
      <li id="dash_users">
        <div id="dash_users_header" class="collapsible-header waves-effect"><b>Report <i class=' material-icons right'>arrow_drop_down</i></b></div>
        <div id="dash_users_body" class="collapsible-body">
        <ul>
            <li>
              <a class="waves-effect" style="text-decoration: none;" href="{% url 'report_book' %}">Book</a>
            </li>
            <li>
              <a class="waves-effect" style="text-decoration: none;" href="{% url 'report_bus' %}">Bus</a>
            </li>
            <li>
              <a class="waves-effect" style="text-decoration: none;" href="{% url 'report_route' %}">Route</a>
            </li>             
          </ul>
        </div>
      </li>
    </ul>    
  </ul>

  <header>
    <nav class="indigo" role="navigation">
      <div class="nav-wrapper">
        <a data-activates="slide-out" class="button-collapse show-on-large" href="#!"><h5 style="margin-top: 17px; margin-left: 5px;" class="white-text" />Admin</h5></a>

        <ul class="right hide-on-med-and-down">
          <li>
            <a class='right' href='/admin/logout/'><i class=' material-icons'>eject</i></a>
          </li>
        </ul>

        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </nav>

    <nav>
      <div class="nav-wrapper indigo darken-2">
        <a style="margin-left: 20px;" class="breadcrumb" href="#!">Admin</a>
        <a class="breadcrumb" href="#!">Cancellation</a>

        <div style="margin-right: 20px;" id="timestamp" class="right"></div>
      </div>
    </nav>
  </header>

  <main>
    <div class="row">
      <div class="col s6 m12">
        <div style="padding: 35px;" align="center" class="card">
          <div class="row">
            <div class="left card-title">
              <b>Cancellation</b>
            </div>
          </div>
    <div class="row">
    <table id="myTable">
        <thead>
          <tr>
              <th>Cancellation_Id</th>
              <th>Customer_Id</th>
              <th>Cancellation_Date</th>
              <th>Refund(Rupees)</th>
              <th>Update</th>
              <th>Delete</th>

          </tr>
        </thead>

        <tbody>
          {% for i in cancellation %}
            <tr>
              <td id="can_id">{{ i.can_id }}</td>
              <td id="c_id">{{ i.c_id }}</td>
              <td id="can_date">{{ i.can_date | date:"d-m-Y" }}</td>  
              <td id="refund">{{ i.refund }}</td>
            <td class="small"><i class="material-icons" id="update_btn"><a href="#model2" class="modal-trigger">system_update_alt</a></i><td>
            <td class="small"><i class="material-icons" id="delete_btn" style="margin-left:-50px;"><a href="#model3" class="modal-trigger">delete</a></i><td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
          </div>
        </div>
      </div>      
    </div>

  <div class="modal" id="model1">
    <div class="modal-content">
      <div class="row text-black">
          <h4 class="center">Book</h4>  
          <form class="formValidate" id="formValidate">
                <div class="input-field col s12 m4">
                <i class="material-icons prefix">phone</i>
                <input id="c_id"  spellcheck="false" type="text" name="c_id">
                <label for="c_id" class="active">customer_id</label>
                <div class="red-text" id="alert-2" style="font-size:13px;text-align:center"></div>
                </div>
               <div class="input-field col s12 m4">
               <i class="material-icons prefix">email</i>
               <input  id="can_date"  spellcheck="false" type="text" name="can_date">
               <label for="can_date" class="active">can_date</label>
               <div class="red-text" id="alert-3" style="font-size:13px;text-align:center"></div>
               </div>
               <div class="input-field col s12 m4">
               <i class="material-icons prefix">email</i>
               <input  id="refund"  spellcheck="false" type="text" name="refund">
               <label for="refund" class="active">refund</label>
               <div class="red-text" id="alert-3" style="font-size:13px;text-align:center"></div>
               </div>                                      
                <div class="input-field col s3 m2">
                </div>                                             
                <div class="input-field col s12 m12">
                <input id="submit" type="submit" class="btn blue" value="submit" id="submit">&nbsp;
        <a id="continue" class="btn blue">continue</a>  
                <a id="cancel" class="btn-flat grey lighten-5 waves-effect waves-dark modal-action modal-close">Cancle</a>&nbsp;
                </div>                
          </form>
      </div>
    </div>
  </div>
  <div class="modal" id="model2">
    <div class="modal-content">
      <div class="row text-black">
          <h4 class="center">Update</h4>  
          <form class="formValidate" id="formValidate">
                <div class="input-field col s12 m4">
                <i class="material-icons prefix">phone</i>
                <input id="c_id" placeholder="bus_no"  spellcheck="false" type="text" name="c_id">
                <label for="c_id" class="active">customer_id</label>
                <div class="red-text" id="alert-2" style="font-size:13px;text-align:center"></div>
                </div>
               <div class="input-field col s12 m4">
               <i class="material-icons prefix">email</i>
               <input  id="can_date" placeholder="can_date"  spellcheck="false" type="text" name="bus_type">
               <label for="can_date" class="active">can_date</label>
               <div class="red-text" id="alert-3" style="font-size:13px;text-align:center"></div>
               </div>
               <div class="input-field col s12 m4">
               <i class="material-icons prefix">vpn_key</i>
               <input  id="refund" placeholder="refund"  spellcheck="false" type="text" name="refund">
               <label for="refund" class="active">refund</label>
               <div class="red-text" id="alert-4" style="font-size:13px;margin-left:20%;text-align:center;position:absolute"></div>
                </div>                                            
                <div class="input-field col s12 m12">
        <a id="update" class="btn blue">Update</a>  
                <a id="cancel" class="btn-flat grey lighten-5 waves-effect waves-dark modal-action modal-close">Cancle</a>&nbsp;
                </div>                
          </form>
      </div>
    </div>
  </div>
  <div class="modal" id="model3">
  <br>
  <div class="modal-contant center">
    <h4>Delete</h4>
    <div class="divider"></div>
    <div class="red-text"><strong>Are you sure ? <br> Delete : <span id="bus_id"></span></strong></div>
    <div class="divider"></div><br>
    <button class="btn blue" id="delete">Delete</button>&nbsp;
    <button class="btn white btn-flat modal-action modal-close" id="cancel">Cancel</button><br>
  </div><br>
  </div>
    <div class="fixed-action-btn click-to-toggle" id="add" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large pink waves-effect waves-light modal-trigger" href="#model1">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </main>


  <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script> <script type="text/javascript" src="/static/admin/js/materialize.min.js"></script>
  <script type="text/javascript" src="/static/admin/js/cancellation.js"></script>

  <script type="text/javascript">
    
  </script>

</body>
</html>
