<!DOCTYPE html>
<html lang="en">
<style>
</style>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Ramani Travels-Booking Report</title>
 <!-- CSS  -->
 <link rel="stylesheet" type="text/css" href="/static/ramani/css/materialize.min.css">


  <link rel="stylesheet" href="/static/ramani_travels/css/materialize.min.css">

</head>
<body >
<center>
<font size="4" width="100%" height="100%">
<h1 class="center">Ramani Travels</h1>
<h3 class="center">Booking Report</h3>
<hr> 
<table border="0">
<tr>
  <td><b>Email</b></td>
  <td><b>Bus_No</b></td>
  <td><b>Bus_Type</b></td>
  <td><b>Departure_Station</b></td>
  <td><b>Arrival_Station</b></td>
  <td><b>Date</b></td>
  <td><b>Time</b></td>
</tr>
  <tr></tr>
  {{ table|safe }}
</table><br>
<hr/><br>
</center>
</body>
</html>
