
<!DOCTYPE html>
<html lang="en">
<style>
</style>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/static/ramani_travels/css/materialize.min.css">
      <style>
    </style>
</head>
<body>
<!--  <nav class="navbar-fixed">
    <div class="nav-wrapper blue white no-shadow">
      <a href="#" class="brand-logo left " style="margin-left:10px;">Ramani Travels</a>
      <ul id="nav-mobile" class="right">
        <li><a href="#" class="black-text waves-effect waves-dark">Login</a></li>
        <li><a href="#" class="btn blue waves-effect waves-light" id="">Create Account</a></li>
      </ul>
    </div>
  </nav>-->

<nav class="navbar-fixed">
    <div class="nav-wrapper white">
      <a href="#" class="brand-logo left black-text text-light-5 " style="margin-left:10px;font-size:24px;">Ramani&nbsp;Travels</a>

      <ul id="nav-mobile" class="right">
      <li><a href="#" class="black-text waves-effect waves-dark" id="search">Search Bus</a></li>
        <li><a href="#" class="black-text waves-effect waves-dark">Login</a></li>
        <li><a href="#" class="btn blue waves-effect waves-light no-shadows hide-on-med-and-down" id="">Create Account</a></li>
      </ul>
    </div>
  </nav>
<nav class="navbar-fixed show-on-medium-and-down hide-on-med-and-up">
    <div class="nav-wrapper blue white">
      <ul id="nav-mobile" class="left">
        <li><a href="#" class="btn-small blue waves-effect waves-light no-shadows" id="">Create Account</a></li>
      </ul>
  </nav>  

<section>
  <div class="carousel carousel-slider hide-on-med-and-down" data-indicators="true">
    <div class="carousel-fixed-item center middle-indicator">
    <div class="left">
      <a href="Previo" class="movePrevCarousel middle-indicator-text content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a>
     </div>
     
     <div class="right">
     <a href="Siguiente" class=" moveNextCarousel middle-indicator-text content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a>
     </div>
    </div>
    <div class="carousel-item grey lighten-5 black-text" href="#one!">
      <img src="/static/ramani_travels/img/unnamed.png" style="height:600px;">
    </div>
    <div class="carousel-item grey lighten-5 black-text" href="#two!">
      <img src="/static/ramani_travels/img/img1.png" style="height:600px;">
    </div>
    <div class="carousel-item green black-text" href="#three!">
      <img src="/static/ramani_travels/img/img2.jpg" style="height:600px;">
    </div>
    <div class="carousel-item grey lighten-5 black-text" href="#four!">
    <img src="/static/ramani_travels/img/big.jpg" style="height:600px;">
    </div>
  </div>
</section>
<section>
  <div class="carousel carousel-slider show-on-medium-and-down hide-on-med-and-up" style="height:300px;" data-indicators="true">
    <div class="carousel-fixed-item center middle-indicator">
    <div class="left">
      <a href="Previo" class="movePrevCarousel middle-indicator-text content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a>
     </div>
     
     <div class="right">
     <a href="Siguiente" class=" moveNextCarousel middle-indicator-text content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a>
     </div>
    </div>
    <div class="carousel-item grey lighten-5 black-text" href="#one!">
      <img src="/static/ramani_travels/img/unnamed.png" style="height:300px;">
    </div>
    <div class="carousel-item grey lighten-5 black-text" href="#two!">
      <img src="/static/ramani_travels/img/img1.png" style="height:300px;">
    </div>
    <div class="carousel-item green black-text" href="#three!">
      <img src="/static/ramani_travels/img/img2.jpg" style="height:300px;">    
    </div>
    <div class="carousel-item blue black-text" href="#four!">
    <img src="/static/ramani_travels/img/big.jpg" style="height:300px;"> 
    </div>
  </div>
</section><br><br><br><br>
<div class="section " id="search_bus">
        <div class="row">
          <h3 class="center grey-text text-dark-5"><i class="material-icons prefix"><h3>search</h3></i>Search Bus</h3>
          <form>
          <div class="input-field col m3 offset-m1  s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="to" type="text">
              <label for="to">To</lable>
          </div>
            <div class="input-field col m4 s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="from" type="text">
              <label for="from">From</lable>
          </div>
            <div class="input-field col m3 s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="date"  class="datepicker" type="text">
              <label for="date">Date</lable>
          </div> 
            <div class="input-field col m6 offset-m3 s12 center">
              <button class="btn-large blue darken-2 btn-flat white-text waves-effect waves-light" id="search_button"><b>Search</b></button>
          </div>                    
          </form>
        </div>
</div>
<section class="center hide-on-med-and-down">
<h1>Welcome to Ramani Travels</h1>
<div class="row">
<p class="col m6 offset-m3">
Founded on 1994 by Ramani Brothers,

Ramani Travels is the largest provider of daily bus and parcel service transportation, serving more than 100+ destinations with about 10+ schedules daily across Gujarat.

Ramani Travels became an icon providing Safe, Enjoyable and Affordable luxary travel to around 1.5 lakh people each year. Ramani Travels is one of the most trademark registerd, recognized and reputed brands in Gujarat.
</p>
</div>
</section>
<section class="center show-on-medium-and-down  hide-on-med-and-up">
<h4>Welcome to Ramani Travels</h4>
Founded on 1994 by Ramani Brothers,

Ramani Travels is the largest provider of daily bus and parcel service transportation, serving more than 100+ destinations with about 10+ schedules daily across Gujarat.

Ramani Travels became an icon providing Safe, Enjoyable and Affordable luxary travel to around 1.5 lakh people each year. Ramani Travels is one of the most trademark registerd, recognized and reputed brands in Gujarat.
</section>
<br><br><br><br>
<div class="row">
    <div class="col s12 m4">
      <div class="card grey lighten-5 no-shadows center">
        <div class="card-content black-text">
          <span class="card-title">Book With Discounts !</span>
          <p>10% Discount</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card grey lighten-5 no-shadows center">
        <div class="card-content black-text">
          <span class="card-title">Why Choose Us ?</span>
          <p>Trusted Brand Since 1994</p>
          <p>12M+ Customers Satisfaction</p>
          <p>Safe & Secure Booking</p>
        </div>
      </div>
    </div>    
    <div class="col s12 m4">
      <div class="card grey lighten-5 no-shadows center">
        <div class="card-content black-text">
          <span class="card-title">Help Us Improve !</span>
          <p>Feedback</p>
        </div>
      </div>
    </div>        
</div>
<section class="center hide-on-med-and-down"><br><br><br><br><br><br><br>
<img src="/static/ramani_travels/img/gmail.png">
<h2>Get started with Gmail account</h2>
<br>
<button class="btn-large blue darken-2 waves-effect waves-light"><b>Create an account</b></button>
</section>

<section class="center show-on-medium-and-down  hide-on-med-and-up">
<img src="/static/ramani_travels/img/gmail.png">
<h4>Get started with Gmail account</h4>
<br>
<button class="btn blue darken-2 waves-effect waves-light"><b>Create an account</b></button>
</section>
<br><br><br><br>
<footer class="page-footer grey lighten-5">
          <div class="container">
            <div class="row">
              <div class="col ml2 s12 center">
                <h5 class="black-text text-lighten-4">Contact us anytime. We are always available for our customers.</h5>
              </div>
              <div class="col ml2 s12 black-text center">
                <p>Head Office: Ramani Travels, L-17, Ratnamani Complex, Nr. Jodhpur Cross Road, Satellite Ahmedabad, Gujarat, Pin: 380 015
Customer Care: 09904322239, 09904622239 (08:30 AM - 11:30 PM, EVERYDAY)</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container black-text center">
            Copyright © 2019 RAMANI TRAVELS. All Right Reserved.
            </div>
          </div>
</footer>
<div class="model" id="model1">
  asdfasdfasdfa
</div>
<script src="/static/ramani_travels/js/jquery.min.js"></script>
<script src="/static/ramani_travels/js/materialize.min.js"></script>
<script src="/static/ramani_travels/js/home.js"></script>
</body>
</html>
